<div class="home-container">

  <app-header (newItemEvent)="addItem($event)" (newCloseEvent)="close($event)"></app-header>


  <!-- To interact between components use EventEmiiter; 
  1. The component from where you send the data in that component's ts file import eventemitter,output
  2.The function used to send data is  " @Output() newItemEvent = new EventEmitter<string>();"" after that write the click 
    function with no arguement and also not in button field and add value to be sent in the line "this.newItemEvent.emit(this.data)"
  3. And in the component you display the output write the parent app tag in html file header  component is parent
  <app-header (newItemEvent)="addItem($event)"></app-header> after that in ts file write the addItem(newItem:string)
   with this.data=newItem. -->


  <div class="error" *ngIf="!data && !dataday ">Oops !! Not entered any data.<br>Enter the city name in the search box
    to
    know the
    weather details</div>

  <div *ngIf="data ">

    <!--To change back ground color everytime use [ngStyle]="{'background-color':bgColor}"
    In ts file write this.bgColor="#"+(Math.random()*0xFFFFF<<0).toString(16)-->
    <div class="data-container">

      <div class="card bg-primary">

        <div class="card-title">
          <h5>{{data.name}}<span>,</span> {{data.sys.country}}</h5>
        </div>
        <div class="card-data" fxFlex fxLayout="column" fxLayout.gt-sm="row">
          <div class="card-content">
            <div class="data-content">
              <table>
                <tr>
                  <td>Temparature</td>
                  <td>:</td>
                  <td>{{data.main.feels_like}}</td>
                </tr>
                <tr>
                  <td>Humidity</td>
                  <td>:</td>
                  <td>{{data.main.humidity}}</td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>:</td>
                  <td>{{data.weather[0].main}}</td>
                </tr>
                <tr>
                  <td>Sunrise</td>
                  <td>:</td>
                  <td>{{sunrise}}</td>
                </tr>
                <tr>
                  <td>Sunset</td>
                  <td>:</td>
                  <td>{{sunset}}
                </tr>
                

              </table>
            </div>
            <div class="card-image">
           
              <img src="https://openweathermap.org/img/wn/{{data.weather['0'].icon}}@2x.png">
            </div>
          </div>


        </div>
      </div>


    </div>

  </div>


</div>